appnope==0.1.0
boto==2.39.0
bz2file==0.98
cycler==0.10.0
decorator==4.0.9
entrypoints==0.2
enum34==1.1.3
gensim==0.12.4
gnureadline==6.3.3
httpretty==0.8.14
ipykernel==4.3.1
ipython==4.1.2
ipython-genutils==0.1.0
ipywidgets==4.1.1
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.2.2
jupyter-console==4.1.1
jupyter-core==4.1.0
MarkupSafe==0.23
matplotlib==1.5.1
mistune==0.7.2
nbconvert==4.2.0
nbformat==4.0.1
notebook==4.2.0
numpy==1.11.0
pandas==0.18.0
path.py==8.2.1
pexpect==4.0.1
pickleshare==0.7.2
prettytensor==0.6.1
protobuf==3.0.0b2
ptyprocess==0.5.1
Pygments==2.1.3
pyparsing==2.1.1
python-dateutil==2.5.2
pytz==2016.3
pyzmq==15.2.0
qtconsole==4.2.1
requests==2.9.1
scikit-learn==0.17.1
scipy==0.17.0
simplegeneric==0.8.1
six==1.10.0
skflow==0.1.0
sklearn==0.0
smart-open==1.3.2
tensorflow==0.8.0rc0
terminado==0.6
tornado==4.3
traitlets==4.2.1
